html, body {
  background-color: #cccdce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div {
  display: block;
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  top: 44px;
  color: #31363d;
  font-size: 32px;
  margin: 0;
}

.nav ul {
  margin: 0 0 30px;
  text-align: center;
  list-style: none;
  padding: 20px 0;
  
}

.nav li {
  -webkit-transition:color 0.25s;
  transition:color 0.25s;
  display: inline;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  transition: color 0.25s;
    transition-property: color;
    transition-duration: 0.25s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.nav li:hover {
  color: #31363d;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

.row {
  margin-top: 30px;
  margin-right: -15px;
  margin-left: -15px;
}

@media (max-width: 500px) {
  .row {
    margin-top: 0;
  }
  .img-responsive {
    margin-bottom: 20px;
  }
  .col-md-4 {
    width: 33.33333333%;
}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}